body 
	{
		background-color: #ACD0FF;
	}
 
h1
	{
		background-color: Cornsilk;
		font-face: rockwell extra bold;
		font-size: 100px;
		color: darkblue;
		border: solid;
		border-color: #3C1874;
		border-radius: 50px; 
	}

p
	{
		background-color: white;
		font-size: 30px;
		text-align: center;
		color: indianred;
		font-family: 'Permanent Marker', cursive;
		padding: 15px;
	}

a:link, a:visited
	{
		background-color: purple;
		color: gold;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border-radius: 25px;
		padding: 15px; 
	}

a:hover, a:active
{
	background-color: white;
	color: black;
}